:root {
    --primary-color: black;
    --secondary-color: snow;
    --third-color: grey;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

html {
    font: 400 62.5% 'Anonymous Pro', 'monospace';
}

p, a {
    font-size: 1.6rem;
}

nav a {
    color: inherit;
}

h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

h5 {
    font-size: 1.5rem;
    margin-top: 0;
}

.wrapper {
    margin-top: 0px;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.upper {
    text-transform: uppercase;
}

.light-btn {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 4.6rem;
    display: inline-block;
}

.dark-btn {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 4.6rem;
    display: inline-block;
}

.container-hero {
    background-color: var(--primary-color);
    padding: 10rem;
    color: var(--secondary-color);
}

.container-hero-v2 {
    background-color: var(--secondary-color);
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: var(--primary-color);
}

.container-hero-v2 video{
    display: block;
    margin: 0 auto;
}

.light-container-nav {
    background-color: var(--secondary-color) ;
    color: var(--primary-color);
    border-width: 100%;
}

.dark-container-nav {
    background-color: var(--primary-color) ;
    color: var(--secondary-color);
    border-width: 100%;
}

.light-container {
    background-color: var(--secondary-color) ;
    color: var(--primary-color);
    padding-bottom: 5rem;
}

.dark-container {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding-bottom: 5rem;
}

.wrapperContainer-fixed {
    position: sticky;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--primary-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding: 1rem 0rem;
}

.header_nav a {
    font-size: 2rem;
    text-decoration: none;
}

.header_nav ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
}

.header_nav a:hover {
    text-decoration: underline;
}

.heroBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_title {
    color: var(--secondary-color);
    margin-bottom: 5rem;
}

.outfits {
    margin-top: 6rem;
    text-align: center;
}

.outfit-container {
    display: flex;
    text-align: justify;
    gap: 3rem;
    margin-top: 5rem ;
    justify-content: center;
}

.gallery_card {
    flex: 1;
    max-width: 30rem;
}

.gallery_card img {
    display: block;
    width: 100%;
}

.gallery_card h3 {
    font-size: 2.4rem;
}

.gallery_card p {
    font-size: 1.8rem;
    line-height: 1.5;
}

.gallery_item {
    padding: 1rem 1.25rem;
    border: 1px solid #949494;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    border-top: transparent;
}

.gallery_item h3 {
    margin-bottom: 0;
}

.gallery_item h4 {
    margin-top: 1rem;
}

.section_title {
    padding: 2rem;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: underline;
}

.section_title_dark {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: underline;
    padding-top: 2rem;
}

.section_title_light {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: underline;
    padding-top: 4rem;
}

.section_btn {
    margin: 7rem 0;
}

.about {
    display: flex;
    gap: 7rem;
    padding: 6rem 0;
}

.about_title {
    font-size: 3.2rem;
    margin-top: 2rem;
}

.about p {
    font-size: 1.8rem;
    line-height: 1.5;
}

.about_content {
    margin: 10rem auto;
    text-align: justify;
}

.about img {
    max-width: 70rem;
}

.contacts_adress {
    text-align: right;
    font: normal 400 1.8rem "Inter", 'sans-serif';
    padding: 3rem 0;
    margin-bottom: 10rem;
}

.footer {
    font-size: 1.6em;
    text-align: center;
    padding: 3rem;
    border-top: 1px solid var(--primary-color);
}

.footer a {
    color: var(--primary-color);
}

.header img {
    max-width: 12rem;
}

.heroBanner video {
    max-width: 60%;
    border-radius: 1rem;
}

.aboutBanner video {
    max-width: 70%;
    border-radius: 1rem;
}

.heroBanner video {
    max-width: 50%;
    border-radius: 1rem;
}

.outfit-container video {
    max-width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.about video {
    max-width: 25%;
    border-radius: 1rem;
}

.spacing {
    height: 5rem;
}

.icon {
    width: 2rem;
    height: 2rem;
}

video:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.dark-container video:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.7);
}

.active {
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--secondary-color);
    pointer-events: none;
    border-radius: 0.3rem;
}

.sale {
    text-decoration: line-through;
}

.shipping-dark {
    color: var(--secondary-color) ;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 0.2rem;
    text-decoration: none;
}

.shipping-light {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
}

.shipping-light:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    padding: 1rem;
    border-radius: 0.2rem;
    text-decoration: none;
}

.shipping-dark:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    padding: 1rem;
    border-radius: 0.2rem;
    text-decoration: none;
}

.underlined {
    text-decoration: underline;
}